<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.xyfir.ptorx"
        version   = "1.0.0">

    <name>Ptorx</name>

    <description>
        An extra layer of security, privacy, and control for your emails.
    </description>

    <author href="https://xyfir.com" email="contact@xyfir.com">
        Xyfir
    </author>

    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions"                value="none"/>

    <!-- Customize your app and platform with the preference element. -->
    <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="webviewbounce"              value="true" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="stay-in-webview"            value="true" />           <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="show-splash-screen-spinner" value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
    <!--
        Define a specific version of PhoneGap to build into your app.
        <preference name="phonegap-version"       value="3.5.0" />
    -->

    <!-- Which platforms to build for -->
    <platform name="ios" />
    <platform name="android" />
    <platform name="winphone" />

    <!-- Plugins -->

    <!-- Core plugins -->
    <plugin name="cordova-plugin-battery-status" />
    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-media-capture" />
    <plugin name="cordova-plugin-console" />
    <plugin name="cordova-plugin-contacts" />
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-device-motion" />
    <plugin name="cordova-plugin-device-orientation" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-file-transfer" />
    <plugin name="cordova-plugin-geolocation" />
    <plugin name="cordova-plugin-globalization" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-media" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-vibration" />

    <!-- Third party plugins -->
    <!-- A list of available plugins are available at https://build.phonegap.com/plugins -->
    <!--
        <plugin name="com.phonegap.plugins.barcodescanner" />
    -->

    <!-- Icons -->
    <icon src="icon.png" />
    
    <icon platform="ios" src="res/icons/ios/icon-small.png" width="29" height="29" />
    <icon platform="ios" src="res/icons/ios/icon-small-2x.png" width="58" height="58" />
    <icon platform="ios" src="res/icons/ios/icon-40.png" width="40" height="40" />
    <icon platform="ios" src="res/icons/ios/icon-40-2x.png" width="80" height="80" />
    <icon platform="ios" src="res/icons/ios/icon-50.png" width="50" height="50" />
    <icon platform="ios" src="res/icons/ios/icon-50-2x.png" width="100" height="100" />
    <icon platform="ios" src="res/icons/ios/icon.png" width="57" height="57" />
    <icon platform="ios" src="res/icons/ios/icon-2x.png" width="114" height="114" />
    <icon platform="ios" src="res/icons/ios/icon-60.png" width="60" height="60" />
    <icon platform="ios" src="res/icons/ios/icon-60-2x.png" width="120" height="120" />
    <icon platform="ios" src="res/icons/ios/icon-60-3x.png" width="180" height="180" />
    <icon platform="ios" src="res/icons/ios/icon-72.png" width="72" height="72" />
    <icon platform="ios" src="res/icons/ios/icon-72-2x.png" width="144" height="144" />
    <icon platform="ios" src="res/icons/ios/icon-76.png" width="76" height="76" />
    <icon platform="ios" src="res/icons/ios/icon-76-2x.png" width="152" height="152" />

    <icon platform="android" qualifier="ldpi" src="res/icons/android/icon-36-ldpi.png"/>
    <icon platform="android" qualifier="mdpi" src="res/icons/android/icon-48-mdpi.png"/>
    <icon platform="android" qualifier="hdpi" src="res/icons/android/icon-72-hdpi.png"/>
    <icon platform="android" qualifier="xhdpi" src="res/icons/android/icon-96-xhdpi.png"/>
    <icon platform="android" qualifier="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png"/>
    <icon platform="android" qualifier="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png"/>

    <icon platform="wp8" src="res/icons/wp8/ApplicationIcon.png" width="99" height="99" />
    <icon platform="wp8" src="res/icons/wp8/Background.png" width="159" height="159" />

    <icon platform="windows" src="res/icons/windows8/logo.png" width="150" height="150" />
    <icon platform="windows" src="res/icons/windows8/smalllogo.png" width="30" height="30" />
    <icon platform="windows" src="res/icons/windows8/storelogo.png" width="50" height="50" />

    <!-- Splash screens -->
    <splash src="splash.png" />

    <splash platform="android" qualifier="ldpi" src="res/screens/android/screen-ldpi-portrait.png" />
    <splash platform="android" qualifier="mdpi" src="res/screens/android/screen-mdpi-portrait.png" />
    <splash platform="android" qualifier="hdpi" src="res/screens/android/screen-hdpi-portrait.png" />
    <splash platform="android" qualifier="xhdpi" src="res/screens/android/screen-xhdpi-portrait.png" />

    <splash platform="ios" src="res/screens/ios/screen-iphone-portrait.png" width="320" height="480" />
    <splash platform="ios" src="res/screens/ios/screen-iphone-portrait-2x.png" width="640" height="960" />
    <splash platform="ios" src="res/screens/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136" />
    <splash platform="ios" src="res/screens/ios/screen-iphone-portrait-667h.png" width="750" height="1334" />
    <splash platform="ios" src="res/screens/ios/screen-iphone-portrait-736h.png" width="1242" height="2208" />
    <splash platform="ios" src="res/screens/ios/screen-ipad-portrait.png" width="768" height="1024" />
    <splash platform="ios" src="res/screens/ios/screen-ipad-portrait-2x.png" width="1536" height="2048" />

    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
    <string>100</string>
    </gap:config-file>

    <!--
        Define access to external domains.
        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.
        Otherwise, you can specify specific domains:
        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
        <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->

    <access origin="*"/>
    <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

</widget>