<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.xyfir.ptorx"
        version   = "1.6.0">

    <name>Ptorx</name>

    <description>
        Proxy emails for an extra layer of security, privacy, and control for your emails.
    </description>

    <author href="https://xyfir.com" email="contact@xyfir.com">
        Xyfir, LLC
    </author>

    <!-- Preferences -->
    <preference name="permissions"                value="none"/>
    <preference name="orientation"                value="default" />
    <preference name="target-device"              value="universal" />
    <preference name="fullscreen"                 value="true" />
    <preference name="webviewbounce"              value="false" />
    <preference name="DisallowOverscroll"         value="true" />
    <preference name="prerendered-icon"           value="true" />
    <preference name="stay-in-webview"            value="true" />
    <preference name="exit-on-suspend"            value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen"    value="true" />
    <preference name="android-installLocation"    value="auto" />
    <preference name="CRIPageLoadPromptInterval"  value="0" />

    <!-- Core plugins -->
    <plugin name="cordova-plugin-console" />
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-device-orientation" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-file-transfer" />
    <plugin name="cordova-plugin-geolocation" />
    <plugin name="cordova-plugin-globalization" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-media" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-whitelist" />

    <!-- Other plugins -->
    <plugin name="cordova-plugin-inapppurchase" />
    <plugin name="cordova-plugin-remote-injection" />

    <!-- Platforms to build for -->
    <platform name="ios" />
    <platform name="android" />

    <!-- Icons -->
    <icon src="res/icons/icon.png" />
    
    <icon platform="ios" src="res/icons/ios/icon-small.png" width="29" height="29" />
    <icon platform="ios" src="res/icons/ios/icon-small-2x.png" width="58" height="58" />
    <icon platform="ios" src="res/icons/ios/icon-40.png" width="40" height="40" />
    <icon platform="ios" src="res/icons/ios/icon-40-2x.png" width="80" height="80" />
    <icon platform="ios" src="res/icons/ios/icon-50.png" width="50" height="50" />
    <icon platform="ios" src="res/icons/ios/icon-50-2x.png" width="100" height="100" />
    <icon platform="ios" src="res/icons/ios/icon.png" width="57" height="57" />
    <icon platform="ios" src="res/icons/ios/icon-2x.png" width="114" height="114" />
    <icon platform="ios" src="res/icons/ios/icon-60.png" width="60" height="60" />
    <icon platform="ios" src="res/icons/ios/icon-60-2x.png" width="120" height="120" />
    <icon platform="ios" src="res/icons/ios/icon-60-3x.png" width="180" height="180" />
    <icon platform="ios" src="res/icons/ios/icon-72.png" width="72" height="72" />
    <icon platform="ios" src="res/icons/ios/icon-72-2x.png" width="144" height="144" />
    <icon platform="ios" src="res/icons/ios/icon-76.png" width="76" height="76" />
    <icon platform="ios" src="res/icons/ios/icon-76-2x.png" width="152" height="152" />

    <icon platform="android" qualifier="ldpi" src="res/icons/android/icon-36-ldpi.png"/>
    <icon platform="android" qualifier="mdpi" src="res/icons/android/icon-48-mdpi.png"/>
    <icon platform="android" qualifier="hdpi" src="res/icons/android/icon-72-hdpi.png"/>
    <icon platform="android" qualifier="xhdpi" src="res/icons/android/icon-96-xhdpi.png"/>
    <icon platform="android" qualifier="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png"/>
    <icon platform="android" qualifier="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png"/>

    <icon platform="wp8" src="res/icons/wp8/ApplicationIcon.png" width="99" height="99" />
    <icon platform="wp8" src="res/icons/wp8/Background.png" width="159" height="159" />

    <icon platform="windows" src="res/icons/windows8/logo.png" width="150" height="150" />
    <icon platform="windows" src="res/icons/windows8/smalllogo.png" width="30" height="30" />
    <icon platform="windows" src="res/icons/windows8/storelogo.png" width="50" height="50" />

    <!-- Splash screens -->
    <splash src="res/screens/splash.png" />

    <splash platform="android" qualifier="ldpi" src="res/screens/android/screen-ldpi-portrait.png" />
    <splash platform="android" qualifier="mdpi" src="res/screens/android/screen-mdpi-portrait.png" />
    <splash platform="android" qualifier="hdpi" src="res/screens/android/screen-hdpi-portrait.png" />
    <splash platform="android" qualifier="xhdpi" src="res/screens/android/screen-xhdpi-portrait.png" />

    <splash platform="ios" src="res/screens/ios/screen-iphone-portrait.png" width="320" height="480" />
    <splash platform="ios" src="res/screens/ios/screen-iphone-portrait-2x.png" width="640" height="960" />
    <splash platform="ios" src="res/screens/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136" />
    <splash platform="ios" src="res/screens/ios/screen-iphone-portrait-667h.png" width="750" height="1334" />
    <splash platform="ios" src="res/screens/ios/screen-iphone-portrait-736h.png" width="1242" height="2208" />
    <splash platform="ios" src="res/screens/ios/screen-ipad-portrait.png" width="768" height="1024" />
    <splash platform="ios" src="res/screens/ios/screen-ipad-portrait-2x.png" width="1536" height="2048" />

    <config-file platform="ios" parent="CFBundleShortVersionString">
        <string>1.6.0</string>
    </config-file>

    <!-- A wildcard can be used to whitelist the entire network, over HTTP and HTTPS -->
    <allow-navigation href="*" />

    <!-- Allow links to web pages to open in a browser -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline'; media-src *; img-src * data:; " />

</widget>