/* COLORS */
$black: #1d1d1d;
$lblack: #212121;
$blue: #0078d7;
$lblue: #1ba1e2;
$ddgray: #333;
$dgray: #666;
$gray: #7e7e7e;
$lgray: #bababa;
$llgray: #F2F2F2;
$lllgray: #F7F7F7;
$danger: #FF2222;
$ldanger: #ee574e;
$purple: #6C3483;
$lpurple: #9B59B6;