/* COLORS */
$black: #1d1d1d;
$lblack: #212121;
$dgray: #666;
$gray: #7e7e7e;
$lgray: #bababa;
$llgray: #f2f2f2;
$lllgray: #f7f7f7;
$danger: #ff2222;
$ldanger: #ee574e;
$purple: $md-purple-800;
$lpurple: $md-purple-700;
