.home {
    
    margin: 0em;

    section {
        padding: 1% 20%;
    }

    table {
        
        text-align: center;

        th {
            padding-right: 0.6em;
        }

    }

    a {
        margin: 0.2em;
    }
    
    .section-1 {
        
        background-color: $purple;
        color: white;
        text-align: left;
        
        h1, h2, h3 {
            color: $black;
        }
        
        a {
            color: $lgray;
        }
        a:hover {
            color: $gray;
        }
        
    }
    
    .section-2 {
        
        background-color: white;
        text-align: right;
        
        h1, h2, h3 {
            color: $purple;
        }
        
    }

    footer {

        a {
            margin: 0.5em;
        }

    }
    
}