.home {
    
    margin: 0em;

    section.trial, section.main, nav, footer, section.premium {
        text-align: center;
    }

    nav.navbar {
        display: flex;
        border-bottom: solid 0.1em $llgray;

        >a {
            flex: 1;
        }
    }

    table {
        
        text-align: center;
        margin: auto;

        th {
            padding-right: 0.6em;
        }

    }

    section {
        padding: 1% 20%;
    }

    ul, ol {
        padding-left: 1em;
    }
    
    section:nth-child(even) {
        
        background-color: $purple;
        color: white;
        
        h1, h2, h3 {
            color: $llgray;
        }
        
        a {
            color: $lgray;
        }
        a:hover {
            color: $gray;
        }
        
    }
    
    section:nth-child(odd) {
        
        background-color: white;
        
        h1, h2, h3 {
            color: $purple;
        }
        
    }

    section.with-screenshot {
        display: flex;
        align-items: center;

        >img {
            height: 24em;
            flex: 1;
        }
        >div {
            flex: 3;
        }
    }

    section.install {

        p {
            margin-bottom: 1em;
        }
        
        a[class^="icon-"] {
            font-size: 125%;
            display: inline-block;
            padding: 0.2em;
        }

    }

    section.trial {
        .note {
            display: block;
        }

        button {
            background-color: $lpurple;

            &:hover {
                filter: saturate(90%);
            }

            margin-bottom: 0.5em;
        }
    }

    section.main {
        
        display: flex;
        align-items: center;
        height: 70vh;
        font-size: 200%;

        .subtitle {
            line-height: 1.5;
        }

        .platforms {
            display: block;
            font-size: 50%;
            color: $dgray;
            margin-top: 2em;
        }

    }

    footer {

        background-color: $llgray;
        margin-top: 0;
        border-top: none;

        a {
            margin: 0.5em;
        }

    }

    @media (max-width: 400px) {
        
        text-align: center;

        section.with-screenshot {
            display: block !important;

            >img {
                height: 10em;
            }
        }

    }

    @media (min-width: 401px) {
        text-align: justify;
    }
    
}