div.home {
  background-color: white;
  margin: 0em;

  section.trial, section.main, section.premium, section.overview,
  nav, footer {
    text-align: center;
  }

  >section.trial {
    padding-top: 0;
  }

  table {
    text-align: center;
    margin: auto;

    th {
      padding-right: 0.6em;
    }
  }

  section {
    padding: 2.5% 20%;

    p {
      font-size: 100%;
    }
  }

  ul, ol {
    padding-left: 1em;
  }
  
  section:nth-child(even) {
    background-color: $purple;

    p {
      color: white;
    }
    
    h1, h2, h3 {
      color: $llgray;
    }
    
    a {
      color: $lgray;
    }
    a:hover {
      color: $gray;
    }
  }
  
  section:nth-child(odd) {
    background-color: white;
    
    h1, h2, h3 {
      color: $purple;
    }
  }

  section.with-screenshot {
    display: flex;
    align-items: center;
    flex-direction: column;

    >img {
      height: 30em;
    }
  }

  section.install {
    p {
      margin-bottom: 1em;
    }
    
    a[class^="icon-"] {
      font-size: 125%;
      display: inline-block;
      padding: 0.2em;
    }

  }

  section.main {
    display: flex;
    align-items: center;
    min-height: 70vh;
    font-size: 200%;

    >div {
      width: 100%;
    }

    .subtitle {
      line-height: 1.5;
    }

    .platforms {
      display: block;
      font-size: 50%;
      color: $dgray;
      margin-top: 2em;
    }
  }

  footer {
    background-color: $llgray;
    margin-top: 0;
    border-top: none;

    a {
      margin: 0.5em;
    }
  }

  @media (max-width: 400px) {
    text-align: center;

    section.with-screenshot {
      >img {
        height: 24em;
      }
    }
  }

  @media (min-width: 401px) {
    text-align: justify;
  }
}

div.features {
  &, >section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  >h2 {
    margin-bottom: 0;
    margin-top: 0.5em;
  }

  >section {
    width: calc(100% - 1em);

    >header {
      background-color: $md-primary-color;
      text-align: center;
      width: 100%;

      >h3, >p {
        color: white;
        margin-bottom: 0;
      }

      >p {
        margin-bottom: 0.3em;
      }
    }

    >ul strong {
      font-weight: bold;
      color: $md-secondary-color;
    }
  }
}

div.landing-page {
  text-align: center;

  >header {
    display: flex;
    min-height: 70vh;
    flex-direction: column;
    justify-content: center;

    >h2 {
      color: $md-primary-color;
      font-size: 200%;
    }

    >p {
      color: $dgray;
      font-size: 100%;
    }
  }

  >section.free-trial {
    background-color: $md-primary-color;
    padding-bottom: 1.5em;

    >p {
      color: white;
      font-size: 100%;
    }
  }

  >section.more-info {
    padding: 1.5em 0;

    >p {
      font-size: 100%;
    }
  }

  div.typed-strings {
    display: none;
  }

  div.typed-container {
    background-color: $lllgray;
    padding: 1em;
    border-radius: 5px;
    margin: 1em;
    border: $llgray 0.1em solid;

    span.address {
      color: $md-secondary-color;
      font-weight: bold;
    }

    strong {
      font-weight: bold;
    }
  }
}

button.start-trial {
  font-size: 2em;
  height: 2.5em;
}