body {
  line-height: 142%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main#content {
  flex: 1;
}

.md-paper.section {
  background-color: #fff;
  padding: 0.4em;
  margin: 1em;

  >*:first-child {
    margin-top: 0;
  }

  >*:last-child {
    margin-bottom: 0;
  }
}

div.main.md-toolbar-relative {
  padding-top: 1em;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  padding: 0.2em;
  margin-top: 1em;
  text-align: center;

  >a {
    display: inline-block;
    margin: 0em 0.5em;
  }
}

a {
  color: $md-primary-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $md-secondary-color;
  }
}

nav.navbar, nav.navbar-sub {
  background-color: $purple;
  align-items: center;
  text-align: center;
  display: flex;

  >a {
    color: white;
    flex: 1;

    &:hover {
      color: $lgray;
    }
  }
}

nav.navbar {
  padding: 1em 0em;
}

nav.navbar-sub {
  width: 80%;
  margin: auto;
  padding: 0.25em 0em;
  margin-bottom: 1em;
}

.sweet-alert {
  >fieldset > input {
    display: none;
  }

  p {
    margin: auto !important;
    max-height: 20em;
    overflow: auto;
  }
}

p {
  text-align: center;
}