/* MISC */
body {
	line-height: 142%;
	font-family: "Source Sans Pro",Calibri,Candara,sans-serif;
    text-align: center;
}
hr {
	border: 0;
    height: 1px;
	margin: 2em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
button {
    cursor: pointer;
}
span[class^="icon-"]:hover {
    cursor: pointer;
    color: $dgray;
}


/* LINKS */
a {
	color: $purple;
    cursor: pointer;
	text-decoration: none;
}
a:hover, a:focus {
	color: $lpurple;
}
.link-lg {
	font-size: 125%;
}


/* BUTTONS */
input[type=submit], button, .btn {
	height: 3.142em;
	min-width: 7em;
	color:#fff;
	padding: 5px 10px;
	border: 0;
	text-transform: uppercase;
	border-radius: 0.15em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.btn-sm {
	height: 2.142em;
	min-width: 5em;
}
.btn-lg {
	font-size: 140%;
}
.btn-primary {
	background-color: $purple;
}
.btn-primary:hover {
	background-color: $lpurple; 
}
.btn-secondary {
	background-color: $gray;
}
.btn-secondary:hover {
	background-color: $lgray;
}
.btn-danger {
	background-color: $danger;
}
.btn-danger:hover {
	background-color: $ldanger;
}
input[type=submit]:focus, button:focus {
	background-color: $lblack;
}
a.btn:hover {
    color: white;
}


/* FORMS */
input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel] {
    text-align: center;
	height: 1.571em;
}
input[type=text], input[type=password], input[type=email], input[type=tel] {
	width: 16em;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, input[type=tel]:focus, textarea:focus, select:focus {
	border-color: $gray;
	outline: none;
}
input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel], textarea, select {
	padding: 4px 8px;
	color: $lblack;
	border: 1px solid $llgray;
	background-color: rgba(255,255,255,.8);
	display: block;
	margin: 1em auto;
}
label {
    display: block;
    font-weight: bold;
}
.input-description {
    font-size: 90%;
    color: $dgray;
    display: block;
    width: 80%;
    margin: auto;
}
input[type=checkbox] {
    margin-bottom: 1em;
}


/* NAVBAR */
.nav-bar {
    
    background-color: $purple;
    width: 80%;
    margin: auto;
    padding: 0.25em 0em;
    margin-bottom: 2em;
    
    a {
        color: white;
        margin: 1em;
    }
    a:hover {
        color: $lgray;
    }
    
}

.sweet-alert > fieldset > input {
    display: none;
}