/* MISC */
body {
	line-height: 142%;
	font-family: "Source Sans Pro",Calibri,Candara,sans-serif;
}
hr {
	border: 0;
    height: 1px;
	margin: 2em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
body {
    margin: 0em;
}
button {
    cursor: pointer;
}

span[class^="icon-"]:hover {
    cursor: pointer;
    color: $dgray;
}


/* LINKS */
a {
	color: $blue;
    cursor: pointer;
	text-decoration: none;
}
a:hover, a:focus {
	color: $lblue;
}
.link-lg {
	font-size: 125%;
}

/* BUTTONS */
input[type=submit], button, .btn {
	height: 3.142em;
	min-width: 7em;
	color:#fff;
	padding: 5px 10px;
	border: 0;
	text-transform: uppercase;
	border-radius: 0.15em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.btn-sm {
	height: 2.142em;
	min-width: 5em;
}
.btn-lg {
	font-size: 140%;
}
.btn-primary {
	background-color: #2652ec;
}
.btn-primary:hover {
	background-color: #5a94f1; 
}
.btn-secondary {
	background-color: $gray;
}
.btn-secondary:hover {
	background-color: $lgray;
}
.btn-danger {
	background-color: $danger;
}
.btn-danger:hover {
	background-color: $ldanger;
}
input[type=submit]:focus, button:focus {
	background-color: $lblack;
}

/* FORMS */
input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel] {
	height: 1.571em;
}
input[type=text], input[type=password], input[type=email], input[type=tel] {
	width: 16em;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, input[type=tel]:focus, textarea:focus, select:focus {
	border-color: $gray;
	outline: none;
}
input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel], textarea, select {
	padding: 4px 8px;
	color: $lblack;
	border: 1px solid $llgray;
	background-color: rgba(255,255,255,.8);
	display: block;
	margin: 1em auto;
}

.status-bar {
    
    width: 100vw;
    height: 3vh;
    position: fixed;
    bottom: 0%;
    z-index: 6;
    background-color: $gray;
    color: $llgray;
    display: table;
    text-align: center;
    
    .quick-links {
        
        width: 21%;
        display: table-cell;
        
        a {
            color: $llgray;
            margin-right: 0.4em;
        }
        a:hover {
            color: $black;
        }
        
        span[class^="icon-"]:hover {
            cursor: auto;
            color: $llgray;
        }
        
    }
    
    .notification {
        
        display: table-cell;
        
        span {
            margin-left: 0.4em;
        }
        
        a {
            color: $black;
        }
        a:hover {
            color: $llgray;
        }
        
    }
    
}