@font-face {
  font-family: octicons-link;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZnBnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAAsgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAIAAAACABiATBtYXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WYcJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gyTt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCAwMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM/byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNuoCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoaHeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA8AAQAAAAAAAAAAAAAAAAABAAAAAA==) format('woff');
}

.markdown {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}

.markdown a {
  background-color: transparent;
}

.markdown a:active,
.markdown a:hover {
  outline: 0;
}

.markdown strong {
  font-weight: bold;
}

.markdown h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.markdown img {
  border: 0;
}

.markdown hr {
  box-sizing: content-box;
  height: 0;
}

.markdown pre {
  overflow: auto;
}

.markdown code,
.markdown kbd,
.markdown pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.markdown input {
  color: inherit;
  font: inherit;
  margin: 0;
}

.markdown html input[disabled] {
  cursor: default;
}

.markdown input {
  line-height: normal;
}

.markdown input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.markdown table {
  border-collapse: collapse;
  border-spacing: 0;
}

.markdown td,
.markdown th {
  padding: 0;
}

.markdown * {
  box-sizing: border-box;
}

.markdown input {
  font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.markdown a {
  color: #4078c0;
  text-decoration: none;
}

.markdown a:hover,
.markdown a:active {
  text-decoration: underline;
}

.markdown hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.markdown hr:before {
  display: table;
  content: "";
}

.markdown hr:after {
  display: table;
  clear: both;
  content: "";
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}

.markdown h1 {
  font-size: 30px;
}

.markdown h2 {
  font-size: 21px;
}

.markdown h3 {
  font-size: 16px;
}

.markdown h4 {
  font-size: 14px;
}

.markdown h5 {
  font-size: 12px;
}

.markdown h6 {
  font-size: 11px;
}

.markdown blockquote {
  margin: 0;
}

.markdown ul,
.markdown ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown ol ol,
.markdown ul ol {
  list-style-type: lower-roman;
}

.markdown ul ul ol,
.markdown ul ol ol,
.markdown ol ul ol,
.markdown ol ol ol {
  list-style-type: lower-alpha;
}

.markdown dd {
  margin-left: 0;
}

.markdown code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.markdown pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.markdown .select::-ms-expand {
  opacity: 0;
}

.markdown .octicon {
  font: normal normal normal 16px/1 octicons-link;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.markdown .octicon-link:before {
  content: '\f05c';
}

.markdown:before {
  display: table;
  content: "";
}

.markdown:after {
  display: table;
  clear: both;
  content: "";
}

.markdown>*:first-child {
  margin-top: 0 !important;
}

.markdown>*:last-child {
  margin-bottom: 0 !important;
}

.markdown a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown .anchor {
  display: inline-block;
  padding-right: 2px;
  margin-left: -18px;
}

.markdown .anchor:focus {
  outline: none;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}

.markdown h1 .octicon-link,
.markdown h2 .octicon-link,
.markdown h3 .octicon-link,
.markdown h4 .octicon-link,
.markdown h5 .octicon-link,
.markdown h6 .octicon-link {
  color: #000;
  vertical-align: middle;
  visibility: hidden;
}

.markdown h1:hover .anchor,
.markdown h2:hover .anchor,
.markdown h3:hover .anchor,
.markdown h4:hover .anchor,
.markdown h5:hover .anchor,
.markdown h6:hover .anchor {
  text-decoration: none;
}

.markdown h1:hover .anchor .octicon-link,
.markdown h2:hover .anchor .octicon-link,
.markdown h3:hover .anchor .octicon-link,
.markdown h4:hover .anchor .octicon-link,
.markdown h5:hover .anchor .octicon-link,
.markdown h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

.markdown h1 .anchor {
  line-height: 1;
}

.markdown h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

.markdown h2 .anchor {
  line-height: 1;
}

.markdown h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

.markdown h3 .anchor {
  line-height: 1.2;
}

.markdown h4 {
  font-size: 1.25em;
}

.markdown h4 .anchor {
  line-height: 1.2;
}

.markdown h5 {
  font-size: 1em;
}

.markdown h5 .anchor {
  line-height: 1.1;
}

.markdown h6 {
  font-size: 1em;
  color: #777;
}

.markdown h6 .anchor {
  line-height: 1.1;
}

.markdown p,
.markdown blockquote,
.markdown ul,
.markdown ol,
.markdown dl,
.markdown table,
.markdown pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}

.markdown ul,
.markdown ol {
  padding-left: 2em;
}

.markdown ul ul,
.markdown ul ol,
.markdown ol ol,
.markdown ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown li>p {
  margin-top: 16px;
}

.markdown dl {
  padding: 0;
}

.markdown dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.markdown dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

.markdown blockquote>:first-child {
  margin-top: 0;
}

.markdown blockquote>:last-child {
  margin-bottom: 0;
}

.markdown table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.markdown table th {
  font-weight: bold;
}

.markdown table th,
.markdown table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.markdown table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.markdown table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.markdown img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.markdown code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

.markdown code:before,
.markdown code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.markdown pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown .highlight {
  margin-bottom: 16px;
}

.markdown .highlight pre,
.markdown pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.markdown .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown pre {
  word-wrap: normal;
}

.markdown pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown pre code:before,
.markdown pre code:after {
  content: normal;
}

.markdown kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.markdown .pl-c {
  color: #969896;
}

.markdown .pl-c1,
.markdown .pl-s .pl-v {
  color: #0086b3;
}

.markdown .pl-e,
.markdown .pl-en {
  color: #795da3;
}

.markdown .pl-s .pl-s1,
.markdown .pl-smi {
  color: #333;
}

.markdown .pl-ent {
  color: #63a35c;
}

.markdown .pl-k {
  color: #a71d5d;
}

.markdown .pl-pds,
.markdown .pl-s,
.markdown .pl-s .pl-pse .pl-s1,
.markdown .pl-sr,
.markdown .pl-sr .pl-cce,
.markdown .pl-sr .pl-sra,
.markdown .pl-sr .pl-sre {
  color: #183691;
}

.markdown .pl-v {
  color: #ed6a43;
}

.markdown .pl-id {
  color: #b52a1d;
}

.markdown .pl-ii {
  background-color: #b52a1d;
  color: #f8f8f8;
}

.markdown .pl-sr .pl-cce {
  color: #63a35c;
  font-weight: bold;
}

.markdown .pl-ml {
  color: #693a17;
}

.markdown .pl-mh,
.markdown .pl-mh .pl-en,
.markdown .pl-ms {
  color: #1d3e81;
  font-weight: bold;
}

.markdown .pl-mq {
  color: #008080;
}

.markdown .pl-mi {
  color: #333;
  font-style: italic;
}

.markdown .pl-mb {
  color: #333;
  font-weight: bold;
}

.markdown .pl-md {
  background-color: #ffecec;
  color: #bd2c00;
}

.markdown .pl-mi1 {
  background-color: #eaffea;
  color: #55a532;
}

.markdown .pl-mdr {
  color: #795da3;
  font-weight: bold;
}

.markdown .pl-mo {
  color: #1d3e81;
}

.markdown kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.markdown .task-list-item {
  list-style-type: none;
}

.markdown .task-list-item+.task-list-item {
  margin-top: 3px;
}

.markdown .task-list-item input {
  margin: 0 0.35em 0.25em -1.6em;
  vertical-align: middle;
}

.markdown :checked+.radio-label {
  z-index: 1;
  position: relative;
  border-color: #4078c0;
}