.email-create, .email-update {
    
    .advanced-settings > a {
        display: inline-block;
        margin-bottom: 1em;
    }
    
    .advanced-settings > h3 {
        margin-bottom: -0.6em;
    }
    
    .link-modifier > a, .link-filter > a {
        margin: 1.3em;
        display: block;
    }

    .linked-filters > .filter, .linked-modifiers > .modifier,
    .link-filter > div > .list, .link-modifier > div > .list {
    
        background-color: $lllgray;
        padding: 0.5em;
        width: 70%;
        margin: auto;
        
        .type {
            font-weight: bold;
        }
        .type::after {
            content: " - ";
        }
        
        .description {
            display: block;
            width: 80%;
            margin: auto;
            font-size: 90%;
        }
        
    }
    
}

.account {
    
    h3 {
        margin-bottom: 0.6em;
    }
    
    .subscription {
        
        a.btn {
            display: inline-block;
            margin-top: 1em;
            height: 1.42em;
        }
        
    }
    
    .emails {
        
        .add > input {
            display: inline;
        }
        
        .list {
            background-color: $lllgray;
            padding: 0.5em;
            width: 70%;
            margin: auto;
        }
        
    }
    
}

.purchase-subscription {
    
    .expiration > input {
        display: inline;
        width: 4em;
    }
    
}

.modifiers, .filters, .emails, .messages {
    
    .list {
        
        .modifier, .filter, .email, .message {
            background-color: $lllgray;
            padding: 0.5em;
            width: 70%;
            margin: auto;
            margin-bottom: 0.5em;
        }
        
        .type {
            font-weight: bold;
        }
        .type::after {
            content: " - ";
        }
        
        .description {
            display: block;
            width: 80%;
            margin: auto;
            font-size: 90%;
        }
        
        .address, .received {
            display: block;
        }
        
    }
    
}

.linked-emails > a {
    display: block;
}

.email-create, .email-update {
    
    .address {
        font-size: 125%;
        font-weight: bold;
    }
    
    .link-filter > .list, .link-modifier > .list {
        max-height: 12em;
        overflow-y: auto;
    } 
    
}

.message-send, .message-reply {
    
    textarea {
        width: 70%;
        height: 25em;
        text-align: center;
    }
    
}

.emails > .list > div > .address {
    display: inline;
}