.email-create, .email-update {
    
    .advanced-settings > a {
        display: inline-block;
        margin-bottom: 1em;
    }
    
    .advanced-settings > h3 {
        margin-bottom: -0.6em;
    }
    
    .link-modifier > a, .link-filter > a {
        margin: 1.3em;
        display: block;
    }

    .linked-filters > .filter, .linked-modifiers > .modifier,
    .link-filter > div > .list, .link-modifier > div > .list {
    
        background-color: $lllgray;
        padding: 0.5em;
        width: 70%;
        margin: auto;
        
        .type {
            font-weight: bold;
        }
        .type::after {
            content: " - ";
        }
        
        .description {
            display: block;
            width: 80%;
            margin: auto;
            font-size: 90%;
        }
        
    }
    
}

.purchase-subscription {

    input[type="number"] {
        -moz-appearance: textfield;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .expiration > input {
        display: inline;
        width: 4em;
    }
    
}

.modifiers, .filters, .emails, .messages {
    
    .list {
        
        .modifier, .filter, .email, .message {
            background-color: $lllgray;
            padding: 0.5em;
            width: 70%;
            margin: auto;
            margin-bottom: 0.5em;
        }
        
        .type {
            font-weight: bold;
        }
        .type::after {
            content: " - ";
        }
        
        .description {
            display: block;
            width: 80%;
            margin: auto;
            font-size: 90%;
        }
        
        .address, .received {
            display: block;
        }
        
    }
    
}

.linked-emails > a {
    display: block;
}

.email-create, .email-update {
    
    .address {
        font-size: 125%;
        font-weight: bold;
    }
    
    .link-filter > .list, .link-modifier > .list {
        max-height: 12em;
        overflow-y: auto;
    } 
    
}

.message-send, .message-reply {
    
    textarea {
        width: 70%;
        height: 25em;
        text-align: center;
    }
    
}

.message-view {

    dl {

        dt {
            font-weight: bold;
        }

        dd {
            margin-left: 0;
        }

        dd.html, dd.text, dl.headers {
            background-color: $lllgray;
            width: 60%;
            margin: auto;
            padding: 0.5em;
        }

        dl.headers {
            font-size: 80%;
        }

    }

}

.account {
    
    h3 {
        margin-bottom: 0.6em;
    }
    
    .subscription > .btn {
        margin-top: 1em;
    }
    
    .main-emails {
        
        .add > input {
            display: inline;
        }
        
        .list {
            
            padding: 0.5em;
            width: 70%;
            margin: auto;

            .email {

                background-color: $llgray;

                a {
                    font-size: 90%;
                    display: block;
                    margin: auto;
                }
                
            }

        }
        
    }
    
}

div.controls > a {
    user-select: none;
    margin: 0.3em;
}