@import '../../node_modules/react-md/src/scss/_react-md.scss';

$md-primary-color: $md-purple-800;
$md-secondary-color: $md-indigo-500;

@include react-md-everything;

.md-no-scroll {
  width: 100%;
}

.md-tabs-content > div > div {
  height: initial !important;
}

html {
  font-size: initial;
}

.md-btn--raised {
  margin: 1em
}

.md-list {
  padding: 0em;

  .md-tile-text--secondary.md-tile-text--three-lines.md-text--secondary {
    height: initial;
  }
}

h2.md-title--dialog {
  overflow: hidden;
  text-overflow: ellipsis;
}