<?xml version="1.0" encoding="UTF-8"?>

<widget
  xmlns:gap="http://phonegap.com/ns/1.0"
  version="4.0.0"
  xmlns="http://www.w3.org/ns/widgets"
  id="com.xyfir.ptorx"
>

  <name>Ptorx</name>

  <description>
    Send and receive mail anonymously with email forwarding and aliases through Ptorx.
  </description>

  <author href="https://www.xyfir.com" email="contact@xyfir.com">
    Xyfir, LLC
  </author>

  <!-- Preferences -->
  <preference name="phonegap-version" value="cli-8.1.1" />

  <preference name="permissions" value="none"/>
  <preference name="orientation" value="portrait" />
  <preference name="target-device" value="universal" />
  <preference name="fullscreen" value="true" />
  <preference name="webviewbounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="prerendered-icon" value="true" />
  <preference name="stay-in-webview" value="true" />
  <preference name="exit-on-suspend" value="false" />
  <preference name="show-splash-screen-spinner" value="false" />
  <preference name="auto-hide-splash-screen" value="true" />
  <preference name="android-installLocation" value="auto" />
  <preference name="CRIPageLoadPromptInterval" value="0" />
  <preference name="CRIShowConnectionErrorDialog" value="0" />

  <!-- Core plugins -->
  <plugin name="cordova-plugin-console" />
  <plugin name="cordova-plugin-device" />
  <plugin name="cordova-plugin-dialogs" />
  <plugin name="cordova-plugin-file" />
  <plugin name="cordova-plugin-geolocation" />
  <plugin name="cordova-plugin-globalization" />
  <plugin name="cordova-plugin-inappbrowser" />
  <plugin name="cordova-plugin-media" />
  <plugin name="cordova-plugin-network-information" />
  <plugin name="cordova-plugin-splashscreen" />
  <plugin name="cordova-plugin-whitelist" />
  <plugin name="cordova-plugin-statusbar" />

  <platform name="ios">
    <icon src="res/icon/ios/icon-1024.png" width="1024" height="1024"/>
    <icon src="res/icon/ios/icon-small.png" width="29" height="29"/>
    <icon src="res/icon/ios/icon-small@2x.png" width="58" height="58"/>
    <icon src="res/icon/ios/icon-small@3x.png" width="87" height="87"/>
    <icon src="res/icon/ios/icon-small-40.png" width="40" height="40"/>
    <icon src="res/icon/ios/icon-small-40@2x.png" width="80" height="80"/>
    <icon src="res/icon/ios/icon-small-40@3x.png" width="120" height="120"/>
    <icon src="res/icon/ios/icon-small-50.png" width="50" height="50"/>
    <icon src="res/icon/ios/icon-small-50@2x.png" width="100" height="100"/>
    <icon src="res/icon/ios/icon.png" width="57" height="57"/>
    <icon src="res/icon/ios/icon@2x.png" width="114" height="114"/>
    <icon src="res/icon/ios/icon-60.png" width="60" height="60"/>
    <icon src="res/icon/ios/icon-60@2x.png" width="120" height="120"/>
    <icon src="res/icon/ios/icon-60@3x.png" width="180" height="180"/>
    <icon src="res/icon/ios/icon-72.png" width="72" height="72"/>
    <icon src="res/icon/ios/icon-72@2x.png" width="144" height="144"/>
    <icon src="res/icon/ios/icon-76.png" width="76" height="76"/>
    <icon src="res/icon/ios/icon-76@2x.png" width="152" height="152"/>
    <icon src="res/icon/ios/icon-167.png" width="167" height="167"/>
    <icon src="res/icon/ios/icon-83.5@2x.png" width="167" height="167"/>

    <!-- Storyboard portrait -->
    <splash src="res/screen/ios/Default@2x~iphone~anyany.png"/>
    <splash src="res/screen/ios/Default@2x~iphone~comany.png"/>
    <splash src="res/screen/ios/Default@3x~iphone~anyany.png"/>
    <splash src="res/screen/ios/Default@3x~iphone~comany.png"/>
    <splash src="res/screen/ios/Default@2x~ipad~anyany.png"/>
    <splash src="res/screen/ios/Default@2x~ipad~comany.png"/>
  </platform>

  <platform name="android">
    <preference name="SplashMaintainAspectRatio" value="true"/>
    <preference name="SplashShowOnlyFirstTime" value="true"/>

    <icon density="ldpi" src="res/icon/android/ldpi.png"/>
    <icon density="mdpi" src="res/icon/android/mdpi.png"/>
    <icon density="hdpi" src="res/icon/android/hdpi.png"/>
    <icon density="xhdpi" src="res/icon/android/xhdpi.png"/>
    <icon density="xxhdpi" src="res/icon/android/xxhdpi.png"/>
    <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png"/>

    <!-- Portrait -->
    <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png"/>
    <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png"/>
    <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png"/>
    <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png"/>
    <splash density="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png"/>
    <splash density="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png"/>
  </platform>

  <!-- Whitelist the entire network, over HTTP and HTTPS -->
  <allow-navigation href="*" />

  <!-- Allow links to web pages to open in a browser -->
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />

  <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline'; media-src *; img-src * data:;" />

</widget>