<!DOCTYPE html>

<html>

<head>
  <title>Ptorx Admin</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/admin.css">

  <link rel="icon" type="image/png" sizes="192x192" href="https://www.xyfir.com/static/icons/ptorx/android-chrome-192x192.png">
</head>

<body>
  <main id="content"></main>

  <script src="/static/js/Admin.js"></script>
</body>

</html>