<!DOCTYPE html>

<html>
<head>
    <title>Ptorx</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/style.css">
    
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="static/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="static/icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/icons/favicon-16x16.png">
    <link rel="manifest" href="static/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#0078d7">
    <meta name="msapplication-TileImage" content="static/icons/mstile-144x144.png">
    <meta name="theme-color" content="#6c3483">
</head>
<body class="home">
    <section class="section-1">
        <h1>Ptorx</h1>
        <p>An extra layer of security, privacy, and control for your emails.</p>
        
        <a href="https://accounts.xyfir.com/app/#/register/13">Register with Xyfir</a>
        <a href="https://accounts.xyfir.com/app/#/login/13">Login with Xyfir</a>
        <a href="panel/">Ptorx Management Panel</a>
    </section>
    <section class="section-2">
        <h2>Install</h2>
        <p>
            Currently you can use Ptorx directly from your browser like any other website, or you can install our Google Chrome extension for quick-access to Ptorx anywhere on the web.
        </p>
        <a href="https://chrome.google.com/webstore/detail/ptorx/jjhgjgpgkbnlihngkfnkafaidoggljge">Ptorx Chrome Extension</a>
    </section>
    <section class="section-1">
        <h2>How it Works</h2>
        <ol>
            <li>Create a redirect email from our site or extension</li>
            <li>Add any optional customizations (filters, modifiers, etc)</li>
            <li>Use the new redirect email we give you to sign up with a site or receive emails to</li>
            <li>Emails are sent to your Ptorx address</li>
            <li>Our system makes sure the incoming mail matches your provided filters</li>
            <li>Our system then applies any modifiers you specified, to the message</li>
            <li>The email is then redirected to your main email, or stored on Ptorx for later viewing</li>
        </ol>
    </section>
    <section class="section-2">
        <h2>Privacy</h2>
        <p>
            Ptorx increases your privacy anywhere you use email by acting like a proxy for your email. How does it work? We allow you to create Ptorx email addresses that then <em>redirect</em> emails to your main email. Wherever you would use your email to sign up on a website or give out an email to be contacted at, you can now use a Ptorx redirect email. This means whoever receives your Ptorx address will <strong>not</strong> be able to get your real address.
        </p>
        <p>
            Another benefit to Ptorx is that your real email will no longer end up on people search websites. Many sites you use end up selling your information, including your email to sites that allow you to find people's personal information. With Ptorx, if this <em>does</em> happen, your real email is still safe and no one will be able to link you to accounts on other websites where you used the same email.
        </p>
    </section>
    <section class="section-1">
        <h2>Safe From Spam</h2>
        <p>
            If a spammer ever gets a hold of one of your Ptorx addresses all you have to do is delete the Ptorx address and no more spam will be redirected to your main email. Additionally, you can utilize our filter system to filter out unwanted emails.
        </p>
    </section>
    <section class="section-2">
        <h2>Improved Security</h2>
        <p>
            Let's say a website you use, as occasionally but unfortunately happens, gets hacked and the hackers gain access to your account information. Now they have your email and will do anything possible to profit off of it. This means your address is sold to spammers if you're lucky, and is the target of further account theft if you're unlucky. An email is valuable to a hacker, because they know if they can get access to it, they can get access to almost any account you've registered with that address. If they get access to your password on the hacked site, and that's the same password used for your email, you're in trouble. With Ptorx, they won't know what your real email is, and therefore they can't attempt to access any of your other accounts. And of course, if they <em>do</em> start sending you spam, adding a filter or just deleting the address will stop any spam before it gets to you.
        </p>
    </section>
    <section class="section-1">
        <h2>Control Your Email</h2>
        <p>Our filter and modifier systems allow you to control your email like never before.</p>
        
        <h3>Filters</h3>
        <p>
            Filters allow you to determine what emails actually get redirected to your main email by checking for values in any messages received. They are a great way to prevent spam, phishing emails, scams, and other unwanted messages. Filters include subject, sender address, sender domain, text content, HTML content, and email header filters. You can configure your email to ignore messages where a filter matches, or only accept messages that match all provided filters. You can also utilize <a target="_blank" href="http://www.regular-expressions.info/">regular expressions</a> for more advanced filters.
        </p>
        
        <h3>Modifiers</h3>
        <p>
          Modifiers allow you to modify an incoming message's content before it is redirected to your main address. Modifiers include content encryption, text only mode (removes HTML), find and replace, subject overwrite, and subject tag modifiers. Subject tag modifiers allow you to 'tag' any incoming emails by prepending or appending a string of text to the original email's subject.  
        </p>
    </section>
    <section class="section-2">
        <h2>Keep Your Email</h2>
        <p>
            Since Ptorx just redirects messages to you, you don't have to give up your existing address. You can still receive and view your messages in your normal email programs, apps, and websites.
        </p>
    </section>
    <section class="section-1">
        <h2>Ptorx Premium</h2>
        <p>Our subscription service is affordable and greatly increases your ability to control your emails.</p>
        
        <h3>Features</h3>
        <ul>
            <li>No Advertisements</li>
            <li>Create Unlimited Redirect Emails</li>
            <li>Add Unlimited Main Emails</li>
            <li>Expanded Filter Options <ul>
                <li>Reject on Match Filters</li>
                <li>Can Use Regular Expressions</li>
                <li>Access to all filters types</li>
            </ul></li>
            <li>Can Use Modifiers</li>
            <li>Customize Your Redirect Email Addresses</li>
            <li>Save Messages to Ptorx (stored for up to 3 days)</li>
            <li>Reply to Emails (must enable 'Save Mail' and use Ptorx 'Messages' section)</li>
            <li>Abiliity to Disable Email Redirect (emails are stored in Ptorx without being redirected)</li>
        </ul>
        
        <h3>Pricing</h3>
        <p>You can purchase Ptorx Premium <a href="panel/#account/purchase-subscription">here</a>.</p>
        <table>
            <thead>
                <tr>
                    <th>Months</th><th>Monthly Cost</th><th>Total Cost</th><th>All Features</th><th>Ads</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>One</td><td>$3.00</td><td>$3.00</td><td>Yes</td><td>No</td>
                </tr>
                <tr>
                    <td>Six</td><td>$2.50</td><td>$15.00</td><td>Yes</td><td>No</td>
                </tr>
                <tr>
                    <td>Twelve</td><td>$2.00</td><td>$24.00</td><td>Yes</td><td>No</td>
                </tr>
            </tbody>
        </table>
    </section>

    <footer>
        <a href="https://xyfir.com/#/documentation/ptorx/tos">Terms of Service</a>
        <a href="https://xyfir.com/#/documentation/ptorx/privacy">Privacy Policy</a>
    </footer>
</body>
</html>