<!DOCTYPE html>

<html>

<head>
  <title>Ptorx - Proxy Emails</title>
  <meta name="description" content="Proxy emails for an extra layer of security, privacy, and control for your emails.">

  <meta property="og:title" content="Ptorx - Proxy Emails">
  <meta property="og:site_name" content="Ptorx">
  <meta property="og:url" content="https://ptorx.com">
  <meta property="og:description" content="Proxy emails for an extra layer of security, privacy, and control for your emails.">
  <meta property="og:image" content="https://i.imgur.com/LeMOvTi.png">
  <meta property="og:type" content="website">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/styles.css">

  <link rel="apple-touch-icon" sizes="57x57" href="https://www.xyfir.com/static/icons/ptorx/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://www.xyfir.com/static/icons/ptorx/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://www.xyfir.com/static/icons/ptorx/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://www.xyfir.com/static/icons/ptorx/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://www.xyfir.com/static/icons/ptorx/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://www.xyfir.com/static/icons/ptorx/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://www.xyfir.com/static/icons/ptorx/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://www.xyfir.com/static/icons/ptorx/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://www.xyfir.com/static/icons/ptorx/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="https://www.xyfir.com/static/icons/ptorx/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://www.xyfir.com/static/icons/ptorx/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://www.xyfir.com/static/icons/ptorx/favicon-16x16.png">
  <meta name="msapplication-TileImage" content="https://www.xyfir.com/static/icons/ptorx/mstile-144x144.png">
  <meta name="theme-color" content="#6c3483">
</head>

<body>
  <main id="content"></main>

  <script src="/static/js/Info.js"></script>

  <footer>
    <a href="https://xyfir.com/#/documentation/ptorx/tos">Terms of Service</a>
    <a href="https://xyfir.com/#/network">Xyfir Network</a>
    <a href="https://xyfir.com/#/contact">Contact Us</a>
    <a href="https://xyfir.com/#/advertise">Advertise</a>
    <a href="https://xyfir.com/#/documentation/ptorx/privacy">Privacy Policy</a>
  </footer>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://ptorx.com",
      "name": "Ptorx (of the Xyfir Network)",
      "logo": "https://ptorx.comhttps://www.xyfir.com/static/icons/ptorx/android-chrome-512x512.png",
      "description": "A proxy email service for increasing your privacy, security, and control over your experiences on the web."
    }
  </script>
</body>

</html>