div.home {
  margin: 0em;
  margin-top: -1em;
  text-align: center;
  background-color: white;

  > section {
    &:nth-child(even) {
      background-color: $purple;

      p {
        color: white;
      }

      h1,
      h2,
      h3 {
        color: $llgray;
      }

      a {
        color: $lgray;

        &:hover {
          color: $gray;
        }
      }
    }

    &:nth-child(odd) {
      background-color: white;

      h1,
      h2,
      h3 {
        color: $purple;
      }
    }

    p {
      font-size: 100%;
    }
  }

  section.main {
    display: flex;
    font-size: 200%;
    min-height: 70vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    > h2 {
      font-size: 130%;
    }

    > h2,
    > p {
      line-height: 130%;
    }
  }

  > section.overview > div {
    border: solid 0.5em transparent;
    display: flex;
    align-items: center;
    flex-direction: column;

    > a {
      display: flex;

      > i.md-icon {
        padding-right: 0.2em;
      }
    }
  }

  footer {
    background-color: $llgray;
    margin-top: 0;
    border-top: none;

    a {
      margin: 0.5em;
    }
  }

  @media (max-width: 400px) {
    section {
      padding: 1em;
    }
  }

  @media (min-width: 401px) {
    section {
      padding: 2em 20%;
    }
  }
}

div.features {
  &,
  > section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  > h2 {
    margin-bottom: 0;
    margin-top: 0.5em;
  }

  > section {
    width: calc(100% - 1em);
    max-width: 44em;

    > header {
      background-color: $md-primary-color;
      padding: 0.5em;
      width: 100%;

      > h3,
      > p {
        color: white;
        text-align: left;
        margin-bottom: 0;
      }

      > h3 {
        margin-right: 0.3em;
      }
    }

    > ul strong {
      font-weight: bold;
      color: $md-secondary-color;
    }
  }
}

div.landing-page {
  text-align: center;

  > header,
  > section {
    padding: 0 1em;
  }

  > header {
    display: flex;
    min-height: 70vh;
    flex-direction: column;
    justify-content: center;

    > h2 {
      color: $md-primary-color;
      font-size: 200%;
    }

    > p {
      color: $dgray;
      font-size: 100%;
      margin-bottom: 1.5em;
    }
  }

  > section.try-for-free {
    background-color: $md-primary-color;
    padding-bottom: 1.5em;

    > p {
      color: white;
      font-size: 100%;
    }
  }

  > section.more-info {
    padding: 1.5em 1em;

    > p {
      font-size: 100%;
    }
  }
}

button.try-free {
  font-size: 2em;
  height: 2.5em;
}

div.how-ptorx-works {
  width: 100%;

  &.start {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    > h2 {
      margin-bottom: 0;
      margin-right: 0.2em;
    }
  }

  &.view {
    background-color: $lllgray;
    border-radius: 5px;
    text-align: left;
    padding: 1em;
    border: $llgray 0.1em solid;
    margin: 1em;

    span.address {
      color: $md-secondary-color;
      font-weight: bold;
    }
  }
}

section.pwn-check {
  background-color: $md-grey-300;
  flex-direction: column;
  align-items: center;
  padding: 1.5em 1em !important;
  display: flex;

  button {
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 0;
    color: $md-indigo-500;
  }

  p {
    font-size: 100%;
  }

  &.step-2a {
    > span.source {
      font-size: 75%;
    }

    > ul.breaches {
      text-align: left;
      margin-top: 0.5em;

      span.title {
        font-weight: bold;
      }
    }
  }
}

.status-404 {
  text-align: center;
}
