<!DOCTYPE html>

<html>
  <head>
    <title><%= TITLE %></title>

    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
    />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta
      name="description"
      content="Send and receive mail anonymously with email forwarding and aliases through Ptorx."
    />
    <meta property="og:title" content="Email Forwarding and Aliases by Ptorx" />
    <meta property="og:site_name" content="Ptorx" />
    <meta property="og:url" content="https://ptorx.com" />
    <meta
      property="og:description"
      content="Send and receive mail anonymously with email forwarding and aliases through Ptorx."
    />
    <meta property="og:image" content="https://i.imgur.com/2lemVOD.png" />
    <meta property="og:type" content="website" />

    <link rel="icon" type="image/png" href="/icon.png" />

    <script src="<%- YALCS_WEB_URL %>/static/yalcs-loader.js" async></script>
  </head>
  <body>
    <div id="content"></div>
  </body>
</html>
